# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# IntelliJ IDEA
.idea

# Package Files
*.jar
*.ear
*.war

# Helper Scripts
install.sh

# DO NOT ignore gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar